div{
    width: 200px;
    height: 200px;
    background-color: darkred;
}

@media  screen and (orientation: portrait ) {
    div {
        border-radius: 0px;
       
    }
    
}
@media  screen and (orientation: landscape) {
    div {
         border-radius: 20px;
        
    }
    
}