*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
header{
    display: flex;
    justify-content: space-between;
}
.main{
    display: flex;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    

}
img{
    /* width: 100%; */
    display: inline-block;
    width:  365px;
    height: 500px;
    object-fit: cover;
}
h3{
    font-size: 1.4rem;
    font-weight: 200px;

}

p{
    font-size: 1.2rem;
}